In [13]:
import pandas as pd 
import numpy as np 
import datetime as dt

In [14]:
solar_cycle = pd.read_csv('data/solar_cycle.csv', parse_dates =True)
solar_cycle.head()

   Unnamed: 0        Date    ssn  smoothed_ssn  observed_swpc_ssn  f10.7
0           0  1749-01-01   96.7          -1.0               -1.0   -1.0
1           1  1749-02-01  104.3          -1.0               -1.0   -1.0
2           2  1749-03-01  116.7          -1.0               -1.0   -1.0
3           3  1749-04-01   92.8          -1.0               -1.0   -1.0
4           4  1749-05-01  141.7          -1.0               -1.0   -1.0

In [15]:
lod = [x for x in solar_cycle['Date']]
lenoflis = [len(x) for x in lod]

In [16]:
np.unique(np.array(lenoflis))

array([10])

In [17]:
pd.Series(lenoflis).value_counts()

10    3281
dtype: int64

In [18]:
for j in list(np.unique(np.array(lenoflis))): 
    print([x for x in lod if len(x) == j][:5],'\n')

['1749-01-01', '1749-02-01', '1749-03-01', '1749-04-01', '1749-05-01']

In [19]:
solar_cycle.Date = pd.to_datetime(solar_cycle.Date)
solar_cycle = solar_cycle.drop(columns = 'Unnamed: 0')
#solar_cycle.to_csv('data/solar_cycle.csv')

In [20]:
solar_cycle.Date.value_counts()

2005-11-01    2
2012-11-01    2
2011-12-01    2
2012-01-01    2
2012-02-01    2
             ..
1832-10-01    1
1832-11-01    1
1832-12-01    1
1833-01-01    1
1999-12-01    1
Name: Date, Length: 3012, dtype: int64

In [22]:
#solar_cycle.to_csv('data/solar_cycle.csv')
solar_cycle.set_index('Date').loc['2012-11-01']

             ssn  smoothed_ssn  observed_swpc_ssn   f10.7
Date
2012-11-01   1.9           5.2               -1.0   -1.00
2012-11-01  87.6          87.7               89.2  121.15