In [1]:
import pandas as pd 
import numpy as np 
import datetime as dt

In [4]:
solar_cycle = pd.read_csv('data/solar_cycle.csv', parse_dates =True)
solar_cycle = solar_cycle.rename({'time-tag':'Date'}, axis = 1)
solar_cycle.head()

,Date,ssn,smoothed_ssn,observed_swpc_ssn,smoothed_swpc_ssn,f10.7,smoothed_f10.7
0,1749-01-01,96.7,-1.0,-1.0,-1.0,-1.0,-1.0
1,1749-02-01,104.3,-1.0,-1.0,-1.0,-1.0,-1.0
2,1749-03-01,116.7,-1.0,-1.0,-1.0,-1.0,-1.0
3,1749-04-01,92.8,-1.0,-1.0,-1.0,-1.0,-1.0
4,1749-05-01,141.7,-1.0,-1.0,-1.0,-1.0,-1.0

In [5]:
lod = [x for x in solar_cycle['Date']]
lenoflis = [len(x) for x in lod]

In [6]:
np.unique(np.array(lenoflis))

array([10])

In [7]:
pd.Series(lenoflis).value_counts()

10    3282
dtype: int64

In [8]:
for j in list(np.unique(np.array(lenoflis))): 
    print([x for x in lod if len(x) == j][:5],'\n')

['1749-01-01', '1749-02-01', '1749-03-01', '1749-04-01', '1749-05-01']

In [9]:
solar_cycle.Date = pd.to_datetime(solar_cycle.Date)

In [10]:
solar_cycle.Date.value_counts()

1749-01-01    1
1931-09-01    1
1930-11-01    1
1930-12-01    1
1931-01-01    1
             ..
1840-05-01    1
1840-06-01    1
1840-07-01    1
1840-08-01    1
2022-06-01    1
Name: Date, Length: 3282, dtype: int64

In [11]:
#solar_cycle.to_csv('data/solar_cycle_1.csv')